@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 210 15% 12%; /* A deep blue-gray for the background */
    --foreground: 0 0% 100%; /* White for contrast and readability */
    --card: 210 15% 18%; /* A slightly lighter blue-gray for card backgrounds */
    --card-foreground: 0 0% 100%; /* White text on cards */

    --popover: 210 15% 18%; /* Same as card for consistency */
    --popover-foreground: 0 0% 100%; /* White text on popovers */

    --primary: 210 100% 40%; /* A strong, trust-inducing blue for primary elements */
    --primary-foreground: 0 0% 100%; /* White text on primary elements */

    --secondary: 210 100% 60%; /* A lighter blue for secondary elements */
    --secondary-foreground: 0 0% 100%; /* White text on secondary elements */

    --muted: 210 15% 25%; /* Muted blue for less emphasis */
    --muted-foreground: 0 0% 100%; /* White text on muted elements */

    --accent: 33 100% 50%; /* A green accent color for success messages, etc. */
    --accent-foreground: 0 0% 100%; /* White text on accent elements */

    --destructive: 0 75% 60%; /* Red for error states or warnings */
    --destructive-foreground: 0 0% 100%; /* White text on destructive elements */

    --border: 210 15% 20%; /* Border color slightly lighter than background */
    --input: 210 15% 18%; /* Input fields same as card color */
    --ring: 210 100% 40%; /* Focus ring color same as primary */

    --radius: 0.75rem; /* Border radius for rounded corners */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth antialiased;
  }
  body {
    @apply bg-background font-sans text-foreground;
    @apply flex h-screen min-h-screen flex-col;
  }
}

.progress-bar {
  transition: width 1s ease-in-out; /* Adjust timing and easing as desired */
}

.text-container {
  max-height: 6rem; /* Initial max-height */
  overflow: hidden;
  position: relative;
  transition: max-height 1s ease; /* Adjust as needed */
  cursor: pointer; /* Optional, to indicate interactivity */
}

.text-container:hover {
  max-height: 1000px; /* Set to a high enough value to show all content */
}

.text-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1a1e23);
  pointer-events: none;
  transition:
    height 0.1s ease,
    opacity 0.1s ease; /* Immediate transition on hover */
}

.text-container:hover::after {
  height: 0; /* Hide the gradient on hover */
  opacity: 0; /* Make gradient transparent on hover */
}

.text-container:not(:hover)::after {
  transition:
    height 0.1s ease 0.4s,
    opacity 0.1s ease 0.4s; /* Delayed transition when not hovered */
}

.timer-container {
  font-family: 'Courier New', monospace;
  width: 100%; /* Fixed width */
  text-align: center; /* Center-align the text */
  font-size: 35px; /* Adjust font size as needed */
  overflow: hidden; /* Hide overflow */
}

@media (max-width: 768px) {
  .timer-container {
    font-size: 35px;
  }
}

.centered-timer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes spin3d {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.hover-spin-3d {
  perspective: 1000px; /* Adjust as needed for depth effect */
  overflow: hidden;
  margin: 8px;
  width: 100%;
}

.hover-spin-3d img {
  transition: transform 0.3s;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: transform 1s ease-out;
  transform: rotateY(0deg);
}

.hover-spin-3d:hover img {
  animation: spin3d 2s infinite linear;
  transform: rotateY(360deg);
}

.draggable-container {
  position: fixed; /* Fixed position */
  transform: translateX(-50%); /* Adjust for centering */
  /* Other styling as needed */
}

@media (max-width: 600px) {
  /* Adjust breakpoint as needed for mobile */
  .draggable-container {
    bottom: 50%; /* Position higher for mobile */
    /* Any other mobile specific adjustments */
  }
}

::-webkit-scrollbar {
  display: none;
}
